$white: #ffffff;
$blue: #2c62ff;
$light-blue: #4573ff;
$dark-blue: #2858e6;
$green: #26af77;
$yellow: #f6c73e;
$black: #091932;
$pink: #fa8585;
$dark-grey-light: rgba(9, 25, 50, 0.5);

$grey-100: #f5f6f8;
$grey-200: #dbdee7;
$grey-400: #828282;
